svg {
   background-color: #dabada55;
   width: 500px;
   height: 500px;
}

#x {
   stroke: red;
   stroke-width: 8;
}

#x > line:first-of-type {
   /* Draw a 5-pixel line followed by a 15-pixel space. */
   stroke-dasharray: 5, 15;
}

#x > line:last-of-type {
   /* Draw a 3-pixel line followed by a 4-pixel space, then a 9-pixel line followed by a 30-pixel space. */
   stroke-dasharray:  3, 4, 9, 30;
}

#cross-hair {
   stroke: #666;
   stroke-width: 10;
   stroke-dasharray: 4, 20;
   stroke-linecap: round;
}

#m {
   stroke-width: 8;
}

#m > line:nth-of-type(1) {
   stroke: green;
   stroke-opacity: .1;
}

#m > line:nth-of-type(2) {
   stroke: blue;
   stroke-opacity: .3;
}

#m > line:nth-of-type(3) {
   stroke: yellow;
   stroke-opacity: .5;
}

#m > line:nth-of-type(4) {
   stroke: orange;
   stroke-opacity: .7;
}
