* {
   margin: 0;
   padding: 0;
}

body {
   font-family: 'IBM Plex Sans', sans-serif;
   width: 960px;
   margin: auto;
}

h1 {
   font-family: 'Patua One', cursive;
   font-size: 32px;
   text-align: center;
   margin: 14px 0;
}

main {
   width: 500px;
   margin: auto;
}

svg {
   background-color: #dabada55;
   width: 500px;
   height: 500px;
}

#x {
   stroke: red;
}

#cross-hair {
   stroke: #666;
}

#m > line:nth-of-type(1) {
   stroke: green;
}

#m > line:nth-of-type(2) {
   stroke: blue;
}

#m > line:nth-of-type(3) {
   stroke: yellow;
}

#m > line:nth-of-type(4) {
   stroke: orange;
}
